.custom-container {
  background-color: #ffffff; /* bg-white */
  border-radius: 0.375rem; /* rounded-md */
  height: 80vh; /* h-[80vh] */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 1.5rem; /* gap-6 */
  justify-content: center; /* justify-center */
  align-items: center;
  padding: 20px;

}

/* Media query for medium screens (md) */
@media (min-width: 768px) {
  .custom-container {
    width: 60vw; /* md:w-[30vw] */
  }
}

.headers {
  font-size: 10px;
  color: #6b7280;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons .inner {
  /* background-color: #fde68a; 
  color: #92400e;  */
  /* border-radius: 0.125rem; 
  display: flex;
  justify-content: center; 
  width: 100%; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;

  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.buttons .inner > *:first-child {
  background-color: #fde68a;
  color: #92400e;
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.buttons .inner > *:last-child {
  background-color: #fcc1b9;
  color: #92400e;
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}
